body {
    font-family: "Helvetica", sans-serif;
    background: #d9d9d9;;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 120px;
    border-radius: 50%;
    border: 3px solid #dedede;
}
nav ul {
    overflow:hidden;
    list-style: none;
    padding:0;
    width: 100%; 
    margin:0 0 0;
 }
 
 nav ul li {
     margin:0;
     float:right;
 }
 nav ul a {
     display:block;
     padding:25px;
     font-weight:600;
     font-size: 14px;
     color:black;
     text-transform: uppercase;
     transition: all 0.5s ease;
     text-decoration: none;
 }
 
 nav ul a:hover {
    background: #d9d9d9;
 }
 
 .nama {
     text-align: center;
 }

 .para {
     text-align: center;
 }

 article {
     text-align: center;
     width:70%;
     padding: 25px;
     margin: 25px;
     margin-top: 300px;
     display: block;
     -webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
     -moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
     box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
     -khtml-user-select:none;
     -webkit-user-select:none;
     -moz-user-select:none;
     -ms-user-select:none;
     -o-user-select:none;
     user-select:none;
     background: white;
 }