body {
	font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
}

nav ul {
   overflow:hidden;
   list-style: none;
   padding:0;
   width: 100%; 
   margin:0 0 0;
   -webkit-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
   -moz-box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
   box-shadow: 1px 1px 1px 0px rgba(204,204,204,0.55);
   border-bottom: 1px solid #dedede;
   background-color: white;
   position:fixed;
   left: 0px;
   top: 0px;
}

nav ul li {
	margin:0;
	float:left;
}
nav ul a {
   	display:block;
	padding:25px;
	font-weight:600;
	font-size: 16px;
	color:black;
	text-transform: uppercase;
	transition: all 0.5s ease;
	text-decoration: none;
}

nav ul a:hover {
   background: #d9d9d9;
}

.tes {
	background-color: #1a2634;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 69px;
	bottom: 0px;
}
